<div id="cftipjar">
  <div id="tipjar-wrapper">
    <a href="#" class="hide_btn">&times;</a>

    <div id="tipjar-step-1" class="tipjar_content cftipjar_clearfix">
      <div class="tipjar_copy">
        <h3>Did you enjoy this content?</h3>
        <p>This is free content, and the author lives on tips, so don&#39;t be afraid to tip!</p>
      </div>

      <form class="cftipjar_clearfix">
        <button type="button" class="cf_button" id="cf_tipjar_start">Give!</button>

        <a id="dollarsign">$</a>
        <input name="tipjar_amount" class="cf_prepend" value="1.00" type="number" min="0.01" step="0.01" />
      </form>
    </div>

    <div id="tipjar-step-2" class="tipjar_content cftipjar_clearfix">
      <div class="tipjar_copy">
        <h3>Please authorize this transaction.</h3>
        <p>You are tipping $<span class="tip_amount"></span></p>
      </div>

      <form class="cftipjar_clearfix">
        <button type="button" class="cf_button" id="cf_tipjar_done_btn">Done</button>

        <input name="cf_tipjar_pin" placeholder="PIN" type="password" maxlength="4">
      </form>
    </div>


    <div id="tipjar-step-3" class="tipjar_content cftipjar_clearfix">
      <div class="tipjar_copy">
        <h3>You're a good human.</h3>
        <p>You tipped the author $<span class="tip_amount"></span></p>
      </div>

      <form class="cftipjar_clearfix">
        <button type="button" class="cf_button" id="cf_tipjar_close_btn">Close</button>
      </form>
    </div>

    <div id="tipjar-loader"></div>
  </div>

  <div id="tipjar-ribbon">
    <a href="#" id="hide_tipjar_btn" class="hide_btn">&times;</a>
  </div>
</div>

<div id="cftipjar-oauth">
  <div id="cftipjar-backdrop"></div>
  <a href="#" class="hide_btn">&times;</a>

  <iframe src="" frameborder="0" allowfullscreen=""></iframe>
</div>
