<div id="cftipjar" class="hidden disabled">
  <div id="tipjar-ribbon">
    <div class="show"><p>Leave a Tip</p></div>
    <div class="hide"><p>Close</p></div>
  </div>

  <div id="tipjar-wrapper">
    <div id="tipjar-step-1" class="tipjar_content cftipjar_clearfix">
      <div class="tipjar_copy">
        <h3>Leave a tip, with Dwolla.</h3>
        <p>This is free content, and the author lives on tips, so don&#39;t be afraid to tip!</p>
      </div>

      <form>
        <input name="tipjar_amount" class="cf_dollar" value="1.00" type="number" min="0.01" step="0.01" />

        <button type="button" class="cf_button" id="cf_tipjar_start">Continue</button>
      </form>

      <p class="small">* requires a Dwolla account</p>
    </div>

    <div id="tipjar-step-2" class="tipjar_content cftipjar_clearfix">
      <div class="tipjar_copy">
        <h3>Confirm your tip.</h3>
        <p>You are tipping $<span class="tip_amount"></span>. Please enter your 4-digit Dwolla PIN.</p>
      </div>

      <form>
        <input name="cf_tipjar_pin" placeholder="PIN" type="password" maxlength="4">

        <button type="button" class="cf_button" id="cf_tipjar_done_btn">Submit</button>
      </form>
    </div>


    <div id="tipjar-step-3" class="tipjar_content cftipjar_clearfix">
      <div class="tipjar_copy">
        <h3>Thanks for the tip!</h3>
        <p>Your tip of $<span class="tip_amount"></span> has been processed.</p>
      </div>

      <form>
        <button type="button" class="cf_button" id="cf_tipjar_close_btn">Close</button>
      </form>
    </div>

    <div id="tipjar-loader"></div>
  </div>
</div>

<div id="cftipjar-oauth">
  <div id="cftipjar-backdrop"></div>

  <iframe src="" frameborder="0" allowfullscreen=""></iframe>
</div>
